In [1]:
import pandas as pd

df = pd.read_csv(r'./dataset.csv')
print(df)

       id  firstname  lastname                       email  \
0     100    Kamilah    Goerke  Kamilah.Goerke@yopmail.com
1     101    Jennica       Nea     Jennica.Nea@yopmail.com
2     102     Trudie    Wandie   Trudie.Wandie@yopmail.com
3     103       Amii     Levey      Amii.Levey@yopmail.com
4     104      Sonni    Ephrem    Sonni.Ephrem@yopmail.com
..    ...        ...       ...                         ...
995  1095     Myriam    Allina   Myriam.Allina@yopmail.com
996  1096  Constance      Ries  Constance.Ries@yopmail.com
997  1097     Frieda     Stevy    Frieda.Stevy@yopmail.com
998  1098       Rori     Brady      Rori.Brady@yopmail.com
999  1099      Candi  Ralfston  Candi.Ralfston@yopmail.com

                       email2      profession  Field Name
0    Kamilah.Goerke@gmail.com  police officer           1
1       Jennica.Nea@gmail.com       developer           2
2     Trudie.Wandie@gmail.com          worker           3
3        Amii.Levey@gmail.com       developer           4
4      Sonni.Ephrem@gmail.com       developer           5
..                        ...             ...         ...
995   Myriam.Allina@gmail.com          worker         996
996  Constance.Ries@gmail.com          worker         997
997    Frieda.Stevy@gmail.com  police officer         998
998      Rori.Brady@gmail.com  police officer         999
999  Candi.Ralfston@gmail.com     firefighter        1000

[1000 rows x 7 columns]

## TEST

In [2]:
df.describe(include='all')

,id,firstname,lastname,email,email2,profession,Field Name
count,1000.000000,1000,1000,1000,1000,1000,1000.000000
unique,NaN,536,661,1000,1000,5,NaN
top,NaN,Damaris,Merell,Kamilah.Goerke@yopmail.com,Kamilah.Goerke@gmail.com,developer,NaN
freq,NaN,6,6,1,1,210,NaN
mean,599.500000,NaN,NaN,NaN,NaN,NaN,500.500000
std,288.819436,NaN,NaN,NaN,NaN,NaN,288.819436
min,100.000000,NaN,NaN,NaN,NaN,NaN,1.000000
25%,349.750000,NaN,NaN,NaN,NaN,NaN,250.750000
50%,599.500000,NaN,NaN,NaN,NaN,NaN,500.500000
75%,849.250000,NaN,NaN,NaN,NaN,NaN,750.250000
max,1099.000000,NaN,NaN,NaN,NaN,NaN,1000.000000

In [15]:
df.shape

(1000, 7)